<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
<script>


</script>
</head>
<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">
    <div class="grid-container">
        <div class="grid-item">
            <h4>Choose a currency</h4>
        </div>
        <div class="grid-item">
            <h4 id="currencyField0">Current value of currencies compared to 1 lev</h4>
        </div>
        <div class="grid-item">
            <strong id="currencyField1" th:text="${currencyFromValue}">cc</strong>
            <br>
            <strong id="currencyField2" th:text="${currencyToValue}">cc</strong>
        </div>
        <div class="grid-item">
            <form th:action="@{/}" th:object="${viewInformationObject}" method="post">
                <input type="text" th:field="*{id}" id="datePlanted" name="datePlanted" />
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    <h4>RRRRRRRRRRResult:</h4>
    <strong th:text="${result}">cc</strong>
    <h1>dsadasd</h1>
    <h4>Result:</h4>
</th:block>

</html>
